.purple {
    background-color: purple;
    color: white;
}

.brown {
    background-color: brown;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.pink {
    background-color: pink;
}

.violet {
    background-color: violet;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.container {
    padding: 10px;
}